<% content_for :title, "大カテゴリ詳細" %>
<nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "TOP", admin_root_path %></li>
        <li class="breadcrumb-item"><%= link_to "大カテゴリ一覧", admin_first_categories_path %></li>
        <li class="breadcrumb-item active" aria-current="page">大カテゴリ詳細</li>
    </ol>
</nav>

<div class="card shadow mb-4">
    <%= render @first_category %>
</div>
<%= render "shared/destroy_modal", title: "大カテゴリ", path: admin_first_category_path(@first_category) %>