<% content_for :title, "中カテゴリ詳細" %>
<nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "TOP", admin_root_path %></li>
        <li class="breadcrumb-item"><%= link_to "中カテゴリ一覧", admin_second_categories_path %></li>
        <li class="breadcrumb-item active" aria-current="page">中カテゴリ詳細</li>
    </ol>
</nav>

<div class="card shadow mb-4">
    <%= render @second_category %>
</div>
<%= render "shared/destroy_modal", title: "中カテゴリ", path: admin_second_category_path(@second_category) %>