<% content_for :title, "メディア編集" %>
<nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "TOP", admin_root_path %></li>
        <li class="breadcrumb-item"><%= link_to "メディア一覧", admin_media_path %></li>
        <li class="breadcrumb-item"><%= link_to "メディア詳細", admin_medium_path(@medium) %></li>
        <li class="breadcrumb-item active" aria-current="page">メディア編集</li>
    </ol>
</nav>

<div class="card shadow mb-4">
    <%= render "form", medium: @medium %>
</div>
