<% content_for :title, "製品情報編集" %>
<nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "TOP", admin_root_path %></li>
        <li class="breadcrumb-item"><%= link_to "製品情報一覧", admin_products_path %></li>
        <li class="breadcrumb-item"><%= link_to "製品情報詳細", admin_product_path(@product) %></li>
        <li class="breadcrumb-item active" aria-current="page">お知らせ編集</li>
    </ol>
</nav>

<div class="card shadow mb-4">
    <%= render "form", product: @product %>
</div>