<% content_for :title, "製品情報詳細" %>
<nav aria-label="パンくずリスト">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><%= link_to "TOP", admin_root_path %></li>
        <li class="breadcrumb-item"><%= link_to "製品情報一覧", admin_products_path %></li>
        <li class="breadcrumb-item active" aria-current="page">製品情報詳細</li>
    </ol>
</nav>

<div class="card shadow mb-4">
    <%= render @product %>
</div>
<%= render "shared/destroy_modal", title: "製品情報", path: admin_product_path(@product) %>